@font-face {
	font-family: 'gravity';
	src: url('../fonts/gravity/Gravity-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

/*
		RESET
*/

* {
	font: 16px gravity, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	color: #1d2e46
}




/*
		GENERAL
*/

body {
	background-color: #fbf8f8;
	position: relative;
}


p,
address {
	margin-bottom: .75rem;
	line-height: 1.3rem;
}

b,
strong {
	font-weight: bold;
}

.color_important {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: #d58632;
}

.btn {
	display: inline-block;
	padding: 1rem;
	border: none;
	border-radius: .33rem;
	font-size: 1.1rem;
	cursor: pointer;
	text-decoration: none;
}

.appear {
	transition: .1s ease-in;
	opacity: 0;
}

.btn,
.btn:hover,
.btn:focus {
	text-decoration: none;
}


.btn__simple {
	background-color: #fbf8f8;
	transition: .3s ease-in;
}

.btn__simple:hover {
	background-color: #dee5eb;
}

.btn__simple:focus {
	background-color: #dee5eb;
}

.call-to-action {
	transition: .3s ease-in;
	background-color: #d58632;
	color: #fff;
}

.call-to-action:hover {
	background-color: #fff;
	color: #d58632;
}

.call-to-action:focus {
	background-color: #fff;
	color: #d58632;
}

.display-none {
	display: none !important;
}

.up {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: rgba(213, 134, 50, 0.3);
	position: fixed;
	right: 1.3rem;
	bottom: 1.3rem;
	z-index: 10;
	cursor: pointer;
	scroll-behavior: smooth;
}

.up:hover,
.up:focus {
	background-color: rgba(213, 134, 50, 1);
}

.arrow-up {
	display: inline-block;
	border-width: 0 .75rem 1.2rem;
	border-style: solid;
	border-color: transparent transparent white;
	position: absolute;
	transform: translateY(-15%);
}

/*
		HEADER
*/
.header {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	/* position: fixed; */
}

.header-change {
	box-shadow: none;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10vw;
	padding-right: 10vw;
	max-width: 1250px;
}

.header__logo {
	width: 4rem;
	z-index: 2;
}

.header__logo img {
	width: 100%;

}

.header__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}


/*
		TOP NAVIGATOR
*/
.nav-top {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.nav-top__list {
	width: 100%;
	height: 100%;
	text-align: center;
	list-style: none;
	padding-top: 1.3rem;

}

.nav-top__item {
	padding-bottom: 1.3rem;
}

.nav-top__link {
	font-size: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: .1s ease-out;
}

/* .nav-top__link:link {}

.nav-top__link:visited {} */

.nav-top__link:focus {
	color: #d58632;
	border-bottom: 0.25rem solid #d58632;
}

.nav-top__link:hover {
	color: #d58632;
	border-bottom: 0.25rem solid #d58632;
}

.nav-top__link:active {
	color: #d58632;
	border-bottom: 0.25rem solid #d58632;
}

.menu-icon__toggle {
	opacity: 0;
	position: absolute;
	z-index: -1;
	cursor: pointer;
}



/*
		MENU ICON
*/
.menu-icon,
.menu-icon:before,
.menu-icon:after {
	background: #d58632;
	height: 0.32rem;
	width: 100%;
	transition: all 0.2s ease-in-out;
	z-index: 2;
}

.menu-icon {
	cursor: pointer;
	display: inline-block;
	margin: .4rem 0;
	width: 1.8rem;
	height: 0.313rem;
	position: relative;
}

.menu-icon:before,
.menu-icon:after {
	content: '';
	position: absolute;
	left: 0;
}

.menu-icon:before {
	top: -0.6rem;
}

.menu-icon:after {
	bottom: -0.66rem;
}

input[type=checkbox][class=menu-icon__toggle]:checked+.menu-icon {
	background-color: transparent;
}

input[type=checkbox][class=menu-icon__toggle]:checked+.menu-icon:before {
	top: 0;
	transform: rotate(-45deg);
}

input[type=checkbox][class=menu-icon__toggle]:checked+.menu-icon:after {
	bottom: 0;
	transform: rotate(45deg);
}

input[type=checkbox][class=menu-icon__toggle]:checked~.nav-top {
	display: block;
	position: absolute;
	top: 5rem;
	left: 0;
}

.overlay {
	background: #efefee;
	bottom: 0;
	left: 0;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: 1;
}



/*
		HERO
*/
.hero {
	display: flex;
	flex-direction: column;
	justify-content: start;

	height: 70vh;
	position: relative;
	background-color: #efefee;
}


.hero__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 65vh;
	position: relative;
}

.hero__content {
	text-align: center;
	max-width: 1150px;
	margin-left: 10vw;
	margin-right: 10vw;
}

.hero__title,
.hero__subtitle {
	color: #fff;
}

.hero__title {
	font-size: 1.6rem;
	margin-bottom: 1rem;

}

.hero__subtitle {
	font-weight: normal;
	font-size: 1.1rem;
	margin-bottom: 1.75rem;
}



/* 
		DOUBLE HERO 
*/

.hero_double {
	justify-content: center;
}

.hero__inner_double {
	height: 60vh;
}



/*
		BIAS 
*/


.bias-down {

	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 5vh 100vw;
	border-style: solid;
	border-color: transparent transparent #efefee transparent;
}

.bias-down_reverse {
	border-width: 0 100vw 5vh 0;
	border-color: transparent transparent #fbf8f8 transparent;
}

.bias-up {

	position: absolute;
	top: 0;
	left: 0;
	border-width: 5vh 100vw 0 0;
	border-style: solid;
	border-color: #efefee transparent transparent transparent;
}

.bias-up_reverse {
	border-width: 5vh 0 0 100vw;
	border-color: #fbf8f8 transparent transparent transparent;
}

.bias-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.bias-container_align_end {
	justify-content: flex-end;
}

.bias-up_color_dee5eb {
	border-top-color: #dee5eb;
}

.bias-up_color_fbf8f8 {
	border-top-color: #fbf8f8;
}

.bias-container_margin {
	margin-top: 49.8px;
}

/*.bias-container__inner_size {
	height: 841px;
}*/

.bias-container_color_dee5eb {
	background-color: #dee5eb;
}

.bias-container_color_d5dbde {
	background-color: #d5dbde;
}

.contact-bias {
	border-width: 49.8px 100vw 0 0;
}

.contact-bias_reverse {
	border-width: 49.8px 0 0 100vw;
}

/* 
		CARD 
*/
.card {
	display: grid;
	grid-template: 8rem min-content / minmax(300px, 599px);
	grid-template-areas: "card-media""card-body";
	margin: 0 8vw;
	max-width: 1150px;
	background-color: transparent;
}

.card_style_box {
	border-radius: .2rem;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.card__media {
	grid-area: card-media;
	width: 100%;
	height: 8rem;
}

.card__media_cover {
	object-fit: cover;
}

.card__media_radius {
	border-radius: .2rem .2rem 0 0;
}

.card__body {
	grid-area: card-body;
	padding: 1.5rem 1rem;
	text-align: center;
}

.card__title {
	font-size: 1.2rem;
}

.card__text {
	margin-top: 1rem;
}

.card_direction_default {
	grid-template: "card-media"min-content "card-body"min-content / minmax(200px, 600px);
	justify-content: center;

}

.card_style_icon {
	max-width: 550px;
	text-align: center;
}

.card__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9.5rem;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;

}

.icon_style_circular-border {
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #d58632;
	width: 4.5rem;
	height: 4.5rem;
	background-color: transparent;
	padding: .45rem;
}

.icon__item {
	font-size: 3rem;
}


.hero__top {
	background-color: transparent;
	background: url('../img/inicio.jpg');

	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/*
		ABOUT
*/
.about {
	display: grid;
	grid-template-rows: min-content;
	grid-gap: 2.3rem;
	justify-content: center;
}



/*
		MISION
*/

.mision .hero__inner {
	background-image: url('../img/mision.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.mision .hero__bg {
	background-color: rgba(213, 134, 50, 0.7);
}



/*
		QUESTION
*/
.question {
	display: grid;
	grid-template-rows: min-content;
	grid-gap: 1.2rem;
	justify-content: center;
	padding-bottom: 1.5rem;
}

.question_title {
	text-align: center;
	font-size: 1.5rem;
	padding-top: .75rem;
}



/*
		CONTACT
*/
.contact {
	display: grid;
	grid-template-rows: min-content;
	grid-gap: 1.75rem;
	text-align: center;
	background-color: #1d2e46;
	padding: 3rem 10vw;
	margin-top: 49.8px;
}

.contact__title {
	font-size: 1.5rem
}

.contact__title,
.contact__subtitle {
	color: #fff;
}


/*
		ADDRESS
*/
.business-data__item,
.business-data__item strong {
	color: #fff;
}

.business-data__item {
	padding-left: 3rem;
	position: relative;
	text-align: left;
}

.business-data__item span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #fff;
	width: 1.7rem;
	height: 1.7rem;
	position: absolute;
	left: .25rem;
	top: -0.3rem;

}

.business-data__item i {
	color: #1d2e46;
}



/*
		FORM
*/

.form {
	display: grid;
	grid-template: repeat(5, 3.3rem) / 1fr 1fr;
	grid-gap: 1rem;
}

.form__input {
	grid-column: 1 / 3;
	border: none;
	background-color: #fff;
	border-radius: .33rem;
	padding-left: 1rem;
}




/*
		FOOTER
*/
.footer {
	background-color: #333;
	padding: 0 1.75rem 2rem;
}

.social-media {
	display: flex;
	justify-content: center;
}

.social-media__item {
	font-size: 2.5rem;
	padding: 1.8rem;
}

.footer__text {
	text-align: center;
	color: #efefee;
}

.social-media__item {
	color: #fff;
}


/* Efect */
@keyframes emerge {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}



/*
		MEDIAS
*/
/* Móviles en horizontal o tablet en vertical */
@media (min-width: 768px) {

	.hero .btn {
		font-size: 1.5rem;
	}


	.hero__title {
		font-size: 2.2rem;
	}

	.hero__subtitle {
		font-size: 1.5rem;
	}

	/*
				CARD
	*/
	.card {
		grid-template: "card-body card-media"min-content / 55% 45%;

	}

	.card__body {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.card__media {
		height: 15rem;
	}

	.card__media_cover {
		object-fit: cover;
	}

	.card__media_radius {
		border-radius: 0 .2rem .2rem 0;
	}

	.card_reverse {
		grid-template: "card-media card-body"min-content / 45% 55%;

	}

	.card_reverse .card__media {
		border-radius: .2rem 0 0 .2rem;
	}

	.card_direction_default {
		grid-template: "card-media"min-content "card-body"min-content / minmax(200px, 600px);
		justify-content: center;
	}


	/*
			QUESTION
	*/
	.question {
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		margin: 0 8vw;
		max-width: 1150px;
		grid-column-gap: 10vw;
	}


	.question_title {
		grid-column: 1 / 3;
		font-size: 2.2rem;
	}

	.card_style_icon {
		max-width: 525px;
		margin: 0;
	}


}

/* Tablet en horizontal o escritorios normales */

@media (min-width: 1024px) {

	/*
				HEADER
	*/
	.header-change {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	}

	.menu-icon__toggle {
		display: none;
	}

	input[type="checkbox"][class="menu-icon__toggle"]:checked~.nav-top {
		position: static;
	}

	.header__nav {}

	.nav-top {
		display: block;
		position: static;

	}

	.nav-top__list {
		display: flex;
		padding-top: 0;
	}

	.nav-top__item {
		padding-bottom: 0;
	}

	.nav-top__link {
		display: flex;
		align-items: center;
		padding-left: .5rem;
		padding-right: .5rem;
		height: 100%;
		font-size: 1.1rem;
		text-transform: initial;
	}

	.nav-top__link:link {}

	.nav-top__link:visited {}

	.nav-top__link:focus {
		color: #d58632;
		border-bottom: .25rem solid #d58632;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	}

	.nav-top__link:hover {
		color: #d58632;
		border-bottom: .25rem solid #d58632;
	}

	.nav-top__link:active {
		color: #d58632;
		border-bottom: .25rem solid #d58632;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	}

	.menu-icon {
		display: none;
	}

	.overlay {
		display: none;
	}



	/*
			QUESTION
	*/
	.question {
		margin: 0 12vw;
	}



	/*
			CONTACT
	*/
	.contact {
		grid-template-columns: minmax(350px, 500px) minmax(350px, 500px);
		justify-content: center;
	}

	.contact .form {
		grid-column: 2 / 3;
	}

	.business-data {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.contact__title,
	.contact__subtitle {
		grid-column: 1 / 3;
	}

	.contact__title {
		font-size: 2.5rem;
	}

	.contact__subtitle {
		font-size: 1.5rem;
	}



}

/* Escritorios muy anchos */

@media (min-width: 1200px) {

	/*
			QUESTION
	*/
	.question {
		margin: 0 auto;
	}
}